body {
font-family: 'Courier New', Courier, monospace;
}
#inputWords {
    margin: 50px auto;
    text-align: center;
    position: relative;
    animation: inputmove 5s infinite;
    animation-delay: 1.2s;
}
@keyframes inputmove {
    from {left: -100px;}
    to {left: 0px;}
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li {
    line-height: 2em;
    text-transform: uppercase;
    margin-top: 8px;;
}
input [type=text] {
border-width: 0 0 1px 0;
border-color: #333;
}
#buttonChange {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
}
#history {
    margin: 0 auto;
    border: 1px solid blue;
    padding: 8px;
}