
body {
    font-family: 'Georama', sans-serif;
    background-image: url("starry-night-1149815_1280pixabay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
#inputWords {
    margin: 50px;
    text-align: center;
}
.mobileview {
    display: inline-block;
    background-color:  #fffcfc;
    padding: 8px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 30px 30px 50px rgb(26, 24, 24);
}
.title {
    text-align: left;
    padding-left: 25px;
}
h2 {
    margin-top: 10px;
    display: inline-block;
}
i {
    display: inline-block;
}
p {
    font-size: 0.9em;
}
.icons {
    text-align: right;
    padding: 8px;
}
.home {
    text-align: left;
    padding-left: 25px;
    height: 40px;
}
h5 {
    display: inline-block;
    font-weight: normal;
}
.justinputs {
    padding: 8px 8px;
    width: 80%;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 70px -45px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 70px -45px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 70px -45px rgba(66, 68, 90, 1);
}
input[type="text"] {
    width: 50%;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #ccc3c7;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li {
    line-height: 1.7em;
    text-transform: lowercase;
    margin-top: 2px;
    color: black;
    font-size: 0.9em;
}
#buttonChange {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background: rgb(182,189,212);
    background: linear-gradient(45deg, rgba(182,189,212,1) 0%, rgba(212,179,194,1) 100%);
}
#history {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color:  #F3F0F2;
    width: 80%;
    display: inline-block;
    border-radius: 10px;
}