body {
font-family: 'Courier New', Courier, monospace;
}
#inputWords {
    margin: 50px auto;
    width: 45%;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li {
    line-height: 2em;
    text-transform: uppercase;
    margin-top: 8px;;
}
input [type=text] {
border-width: 0 0 1px 0;
border-color: #333;
}
#buttonChange {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
}
#history {
    margin-top: 12px;
    border: 1px solid blue;
    padding: 8px;
}